.incorrect{
    color: red;
    width: 100% !important;
    padding-bottom: 15px;
}

.btn-100{
    width: 100%;
    //background: rgb(82, 126, 51);
    //border-color: rgb(82, 126, 51);
}

.logo{
    border-radius: 300px;
    width: 500px;
}
