<div class="card">
  <div class="card-header">
    <h3 class="h6 text-uppercase mb-0">Nuevo cliente</h3>
  </div>
  <div class="card-body">
    <p>Ingresa los datos del cliente</p>
    <form [formGroup]="formData">
      <div class="form-group">
        <label class="form-control-label text-uppercase">Nombre</label>
        <input type="text" placeholder="Nombre y apellidos" class="form-control" autocomplete="off" formControlName="nombre" />
      </div>
      <div class="form-group">
        <label class="form-control-label text-uppercase">Telefono</label>
        <input type="tel" placeholder="Telefono" class="form-control" autocomplete="off" formControlName="telefono" />
      </div>
      <div class="form-group button">
        <button type="submit" class="btn btn-primary btn-save" [disabled]="formData.controls['nombre'].invalid || formData.controls['telefono'].invalid" 
        (click)="addCustomer()">Guardar</button>
      </div>
    </form>
  </div>
</div>
