.cant{
    border: 0;
    border-bottom: gray 1px solid;
    padding-bottom: 2px;
    margin-top: 16px;
}

.btn-add{
    margin-top: 5px;
}

table{
    text-align: center;
}

.input-container{
    z-index: 0;
}

.btn-color{
    background: rgb(0, 95, 33) ;
    border-color: rgb(0, 95, 33);
}

.btn-100{
    width: 100%;
}

.button-action {
    background: transparent; 
    border: 0px; 
    padding-left: 0; 
    padding-right: 0;
}