.button {
  text-align: end;
}

.btn-add{
  background: rgb(0, 95, 33) ;
  border-color: rgb(0, 95, 33);
}

.btn-save{
  margin-top: 5px;
  width: 100%;
  background: rgb(0, 95, 33) ;
  border-color: rgb(0, 95, 33);
}

.check{
  width: 17px;
  height: 17px;
}

.admin{
  margin-bottom: 10px;
}

.div-admin{
  margin-left: 0px !important;
  padding-top: 10px !important;
}