.button {
  text-align: end;
}

.btn-add{
  background: rgb(0, 95, 33) ;
  border-color: rgb(0, 95, 33);
}

.btn-save{
  margin-top: 15px;
  width: 100%;
  background: rgb(0, 95, 33) ;
  border-color: rgb(0, 95, 33);
}