#sidebar {
    position: fixed !important;
    height: 100% !important;
    padding-top: 0px !important;
    margin-top: 73px !important;
}

.icon-size{
    width: 50px;
    text-align: center;
}

.side{
    background: white;
}